server:
  shutdown: graceful
  tomcat:
    threads:
      max: 200
      min-spare: 10
    connection-timeout: 1m
    max-connections: 8192
    accept-count: 100
    keep-alive-timeout: 60s
  max-http-request-header-size: 8KB

spring:
  main:
    web-application-type: servlet
  application:
    name: commerce-api
  profiles:
    active: local
  config:
    import:
      - jpa.yml
      - redis.yml
      - logging.yml
      - monitoring.yml
  cloud:
    openfeign:
      client:
        config:
          pg:
            connect-timeout: 1000
            read-timeout: 1000

springdoc:
  use-fqn: true
  swagger-ui:
    path: /swagger-ui.html

pg:
  base-url: http://localhost:8081
  callback-base-url: http://localhost:8080

resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-type: COUNT_BASED
        sliding-window-size: 10
        minimum-number-of-calls: 5
        failure-rate-threshold: 30
        slow-call-rate-threshold: 50
        slow-call-duration-threshold: 700ms
        wait-duration-in-open-state: 5s
        permitted-number-of-calls-in-half-open-state: 3
        record-exceptions:
          - com.loopers.infrastructure.payment.PgRequestNotReachedException
          - com.loopers.infrastructure.payment.PgResponseUncertainException
    instances:
      pg:
        base-config: default
    circuit-breaker-aspect-order: 1

  retry:
    configs:
      default:
        max-attempts: 4
        wait-duration: 100ms
        enable-exponential-backoff: true
        exponential-backoff-multiplier: 2
        exponential-max-wait-duration: 1s
        retry-exceptions:
          - com.loopers.infrastructure.payment.PgRequestNotReachedException
        ignore-exceptions:
          - com.loopers.infrastructure.payment.PgResponseUncertainException
    instances:
      pg:
        base-config: default
    retry-aspect-order: 2

---
spring:
  config:
    activate:
      on-profile: local, test

---
spring:
  config:
    activate:
      on-profile: dev

---
spring:
  config:
    activate:
      on-profile: qa

---
spring:
  config:
    activate:
      on-profile: prd

springdoc:
  api-docs:
    enabled: false